$primary: crimson;
@use 'mixinsfunc';

:root{
    --primary:#{$primary};
}

.nav{
    background-color: steelblue;

    &-container{
        width: 90%;
        margin: 0 auto;
        height: 40px;
        @include mixinsfunc.crear-flexbox(space-evenly);
        gap: 1rem;
    }

    &-item{
        color: #fff;
        text-decoration: none;
        
        &-active{
            text-decoration: underline;
        }
    }

    @media (min-width:764px) {
        &-container{
            justify-content: flex-end;
        }
        
    }

}